<footer class="footer">
	<section class="footer__text text-footer">
		<div class="text-footer__container">
			<h1 class="text-footer__title">Zlatoust knives online store "ZLATMAKS"</h1>
			<div class="text-footer__text">Our online store "ZLATMAKS" offers you very high quality knives from the city of gunsmiths - Zlatoust. Zlatoust knives are known and popular among consumers both on the Russian market and abroad: hunting, household, tourist, fishing, folding and throwing knives. Zlatoust's knife is an ideal friend and comrade in everyday life and in extreme situations. Many products are covered by a guarantee of up to 10 years - this is one of the main indicators of quality. For you on our site "zlatmax" a huge assortment of Zlatoust knives is offered. Our managers will help you decide and choose the best Zlatoust knife, focusing on your wishes.</div>
		</div>
	</section>
	<div class="footer__container">
		<div class="footer__body body-footer">
			<div class="body-footer__row">
				<div class="body-footer__item item-footer">
					<div data-spollers="767.98" class="item-footer__spoller spoller-item-footer">
						<div class="spoller-item-footer__item">
							<button type="button" data-spoller class="spoller-item-footer__title">INFORMATION</button>
							<div class="spoller-item-footer__body">
								<nav class="menu-footer">
									<ul class="menu-footer__list">
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Zlatoust knives in Spain and in the Region</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Knife steels</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">About us</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Terms of payment and delivery</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Privacy Policy</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="body-footer__item item-footer">
					<div data-spollers="767.98" class="item-footer__spoller spoller-item-footer">
						<div class="spoller-item-footer__item">
							<button type="button" data-spoller class="spoller-item-footer__title">SUPPORT SERVICE</button>
							<div class="spoller-item-footer__body">
								<nav class="menu-footer">
									<ul class="menu-footer__list">
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Zlatoust knives in Spain and in the Region</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Knife steels</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">About us</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Terms of payment and delivery</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Privacy Policy</a>
										</li>
									</ul>
								</nav> 
							</div>
						</div>
					</div>
				</div>
				<div class="body-footer__item item-footer">
					<div data-spollers="767.98" class="item-footer__spoller spoller-item-footer">
						<div class="spoller-item-footer__item">
							<button type="button" data-spoller class="spoller-item-footer__title">ADDITIONALLY</button>
							<div class="spoller-item-footer__body">
								<nav class="menu-footer">
									<ul class="menu-footer__list">
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Zlatoust knives in Spain and in the Region</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Knife steels</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">About us</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="body-footer__item item-footer">
					<div data-spollers="767.98" class="item-footer__spoller spoller-item-footer">
						<div class="spoller-item-footer__item">
							<button type="button" data-spoller class="spoller-item-footer__title">PERSONAL AREA</button>
							<div class="spoller-item-footer__body">
								<nav class="menu-footer">
									<ul class="menu-footer__list">
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Zlatoust knives in Spain and in the Region</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Knife steels</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">About us</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Terms of payment and delivery</a>
										</li>
										<li class="menu-footer__item">
											<a href="" class="menu-footer__link">Privacy Policy</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</footer>