<header class="header">
	<div class="header__top top-header">
		<div class="top-header__container">
			<nav class="top-header__menu menu-top-header">
				<ul data-da=".menu__body,991.98" class="menu-top-header__list">
					<li class="menu-top-header__item menu-top-header__item_catalog"><a href="" data-catalog class="menu-top-header__link menu-top-header__link_catalog _icon-arrow-bottom">Product catalog</a></li>
					<li class="menu-top-header__item"><a href="" class="menu-top-header__link">about</a></li>
					<li class="menu-top-header__item"><a href="" class="menu-top-header__link">payment and delivery</a></li>
					<li class="menu-top-header__item"><a href="" class="menu-top-header__link">news</a></li>
					<li class="menu-top-header__item"><a href="" class="menu-top-header__link">contacts</a></li>
				</ul>
			</nav>
			<a href="" class="top-header__user _icon-user"><span>Personal account</span></a>
			<nav hidden class="menu">
				<button type="button" class="menu__icon icon-menu"><span></span></button>
				<div class="menu__body">
				</div>
			</nav>
		</div>
	</div>
	<div class="header__body body-header">
			<div class="body-header__container">
				<a href="" class="body-header__logo"></a>
				<div data-da=".catalog-header__container, 479.98" class="body-header__search">
					<form action="#" class="search-header">
						<button type="button" class="search-header__button _icon-search"></button>
						<input type="text" autocomplete="off" name="form[]" data-error="Error" placeholder="Search" class="search-header__input">
					</form>
				</div>
				<div class="body-header__actions actions-header">
					<a href="" class="actions-header__location _icon-location"><span>Spain</span></a>
					<div data-da=".top-header__container, 991.98, first" class="actions-header__phones phones-header">
						<div data-spollers class="phones-header__items">
							<div class="phones-header__item">
								<a href="tel:602148999" class="phones-header__phone"><span>602-14-89-99</span></a>
								<button type="button" data-spoller class="phones-header__arrow _icon-arrow-bottom"></button>
								<ul class="phones-header__list">
									<li><a href="tel:602148997" class="phones-header__phone">602-14-89-97</a></li>
									<li><a href="tel:602148933" class="phones-header__phone">602-14-89-33</a></li>
									<li><a href="tel:602128944" class="phones-header__phone">602-12-89-44</a></li>
								</ul>
							</div>
						</div>
						<button type="button" data-popup="#callback" class="phones-header__callback">Order a call</button>
					</div>

					<a href="" data-da=".top-header__container, 991.98, 2" class="actions-header__favorite _icon-favorite"></a>
					<a href="" data-da=".top-header__container, 991.98, 2" class="actions-header__cart cart-header">
						<div class="cart-header__icon _icon-cart"><span>0</span></div>
						<div class="cart-header__body">
							<div class="cart-header__summ">0 &#8364</div>
							<div class="cart-header__link">make order</div>
						</div>
					</a>
				</div>
		</div>
	</div>
	<div class="header__catalog catalog-header">
		 <div class="catalog-header__container">
			 <nav class="catalog-header__menu menu-catalog">
				 <button type="button" class="menu-catalog__back _icon-back">Back</button>
				 <ul class="menu-catalog__list">
					 <li class="menu-catalog__item"><button data-parent="1" class="menu-catalog__link">Leather catalog</button></li>
					 <li class="menu-catalog__item"><button data-parent="2" class="menu-catalog__link">Bladed weapon</button></li>
					 <li class="menu-catalog__item"><a href="" class="menu-catalog__link">Souvenir product</a></li>
					 <li class="menu-catalog__item"><a href="" class="menu-catalog__link">Flashlights ARMYTEK</a></li>
					 <li class="menu-catalog__item"><a href="" class="menu-catalog__link">Related products</a></li>
				 </ul>
				 <div class="menu-catalog__sub-menu sub-menu-catalog">
					<button type="button" class="sub-menu-catalog__back _icon-back">Back</button>
					<div class="sub-menu-catalog__container">
						<div hidden data-submenu="1" class="sub-menu-catalog__block">
							<div class="sub-menu-catalog__category">
								<a href="" class="sub-menu-catalog__link-category">Leather category</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="" class="sub-menu-catalog__link-category">Knife production</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="" class="sub-menu-catalog__link-category">Knives by steel grade</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="" class="sub-menu-catalog__link-category">Sharpening and polishing knives</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="" class="sub-menu-catalog__link-category">Knife workshop</a>
							</div>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Carving knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Tourist knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Hunting knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Damascus knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Tactical purpose</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Throwing knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Machete and Kukri</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Kitchen knives</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">AIR knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ZIK knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ZZOSS knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ROSweapons knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Bulat Sergei Baranov</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Bulat Andrey Umerov</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Zlatko knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Style-M knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Arms company</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives 40x102CM</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives 95x18</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives 100x13m</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives 110х18ь-ШД</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives EI-107 TC</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives 50x14MF</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives AUS-8</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives KZ40</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives MZ90</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Steel knives EP-766</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Paste GOI</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Diamond paste</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Bars and stones for sharpening</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Sharpening systems</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Knife blades</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Blanks for knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Casting for knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Handle materials</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Handle care</a></li>
							</ul>
							<div class="sub-menu-catalog__footer">
								<a href="" class="sub-menu-catalog__all">Show all</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="" class="sub-menu-catalog__all">Show all</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="" class="sub-menu-catalog__all">Show all</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="" class="sub-menu-catalog__all">Show all</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="" class="sub-menu-catalog__all">Show all</a>
							</div>
						</div>
						<div hidden data-submenu="2" class="sub-menu-catalog__block">  
							<div class="sub-menu-catalog__category">
								<a href="" class="sub-menu-catalog__link-category">Leather category</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="" class="sub-menu-catalog__link-category">Knife production</a>
							</div>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Carving knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Tourist knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Hunting knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Damascus knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Tactical purpose</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Throwing knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Machete and Kukri</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Kitchen knives</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">AIR knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ZIK knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ZZOSS knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ROSweapons knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Bulat Sergei Baranov</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Bulat Andrey Umerov</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Zlatko knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Style-M knives</a></li>
								<li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Arms company</a></li>
							</ul>
							<div class="sub-menu-catalog__footer">
								<a href="" class="sub-menu-catalog__all">Show all</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="" class="sub-menu-catalog__all">Show all</a>
							</div>
						</div>
					</div>
				 </div>
			 </nav>
		 </div>
	</div>
</header>