<section class="products-slider">
    <div class="products-slider__container">
        <div class="products-slider__header">
            <h2 class="products-slider__title">@@title</h2>
            <div class="products-slider__more">@@moretext</div>
        </div>
        <div class="products-slider__slider">
            <div class="products-slider__swiper">
                <div class="products-slider__slide">
                    <article class="product-card">
                        <a href="" class="product-card__image">
                            <span class="product-card__item-image-ibg product-card__item-image-ibg_contain">
                                <img src="@img/mainpage/product-card/image.jpg" alt="image">
                            </span>
                         </a>
                        <div class="product-card__body">
                            <h4 class="product-card__title">
                                <a href="" class="product-card__link-title">Knife Lisa</a>
                            </h4>
                            <div class="product-card__info info-product-card">
                                <div class="info-product-card__size">95x18</div>
                                <div class="info-product-card__materials">walnut, aluminum</div>
                            </div>
                            <div class="product-card__rating rating rating_set">
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items">
                                        <input type="radio" class="rating__item" name="rating" value="1">
                                        <input type="radio" class="rating__item" name="rating" value="2">
                                        <input type="radio" class="rating__item" name="rating" value="3">
                                        <input type="radio" class="rating__item" name="rating" value="4">
                                        <input type="radio" class="rating__item" name="rating" value="5">
                                    </div>
                                </div>
                                <div class="rating__value">3.6</div>
                                <div class="rating__info">12 reviews</div>
                            </div>
                            <div class="product-card__footer">
                                <div class="product-card__price">50 &#8364;</div>
                                <a href="" class="product-card__compare _icon-compare"></a>
                                <a href="" class="product-card__favorite _icon-favorite"></a>
                            </div>
                            <button type="buttton" class="product-card__cart button"><span class="_icon-cart">Add to cart</span></button>
                        </div>
                    </article>
                </div>
                <div class="products-slider__slide">
                    <article class="product-card">
                        <a href="" class="product-card__image">
                            <span class="product-card__item-image-ibg product-card__item-image-ibg_contain">
                                <img src="@img/mainpage/product-card/image-02.jpg" alt="image">
                            </span>
                         </a>
                        <div class="product-card__body">
                            <h4 class="product-card__title">
                                <a href="" class="product-card__link-title">Knife Lisa</a>
                            </h4>
                            <div class="product-card__info info-product-card">
                                <div class="info-product-card__size">95x18</div>
                                <div class="info-product-card__materials">walnut, aluminum</div>
                            </div>
                            <div class="product-card__rating rating rating_set">
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items">
                                        <input type="radio" class="rating__item" name="rating" value="1">
                                        <input type="radio" class="rating__item" name="rating" value="2">
                                        <input type="radio" class="rating__item" name="rating" value="3">
                                        <input type="radio" class="rating__item" name="rating" value="4">
                                        <input type="radio" class="rating__item" name="rating" value="5">
                                    </div>
                                </div>
                                <div class="rating__value">3.6</div>
                                <div class="rating__info">12 reviews</div>
                            </div>
                            <div class="product-card__footer">
                                <div class="product-card__price">50 &#8364;</div>
                                <a href="" class="product-card__compare _icon-compare"></a>
                                <a href="" class="product-card__favorite _icon-favorite"></a>
                            </div>
                            <button type="buttton" class="product-card__cart button"><span class="_icon-cart">Add to cart</span></button>
                        </div>
                    </article>
                </div>
                <div class="products-slider__slide">
                    <article class="product-card">
                        <a href="" class="product-card__image">
                            <span class="product-card__item-image-ibg product-card__item-image-ibg_contain">
                                <img src="@img/mainpage/product-card/image-02.jpg" alt="image">
                            </span>
                         </a>
                        <div class="product-card__body">
                            <h4 class="product-card__title">
                                <a href="" class="product-card__link-title">Knife Lisa</a>
                            </h4>
                            <div class="product-card__info info-product-card">
                                <div class="info-product-card__size">95x18</div>
                                <div class="info-product-card__materials">walnut, aluminum</div>
                            </div>
                            <div class="product-card__rating rating rating_set">
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items">
                                        <input type="radio" class="rating__item" name="rating" value="1">
                                        <input type="radio" class="rating__item" name="rating" value="2">
                                        <input type="radio" class="rating__item" name="rating" value="3">
                                        <input type="radio" class="rating__item" name="rating" value="4">
                                        <input type="radio" class="rating__item" name="rating" value="5">
                                    </div>
                                </div>
                                <div class="rating__value">3.6</div>
                                <div class="rating__info">12 reviews</div>
                            </div>
                            <div class="product-card__footer">
                                <div class="product-card__price">50 &#8364;</div>
                                <a href="" class="product-card__compare _icon-compare"></a>
                                <a href="" class="product-card__favorite _icon-favorite"></a>
                            </div>
                            <button type="buttton" class="product-card__cart button"><span class="_icon-cart">Add to cart</span></button>
                        </div>
                    </article>
                </div>
                <div class="products-slider__slide">
                    <article class="product-card">
                        <a href="" class="product-card__image">
                            <span class="product-card__item-image-ibg product-card__item-image-ibg_contain">
                                <img src="@img/mainpage/product-card/image.jpg" alt="image">
                            </span>
                         </a>
                        <div class="product-card__body">
                            <h4 class="product-card__title">
                                <a href="" class="product-card__link-title">Knife Lisa</a>
                            </h4>
                            <div class="product-card__info info-product-card">
                                <div class="info-product-card__size">95x18</div>
                                <div class="info-product-card__materials">walnut, aluminum</div>
                            </div>
                            <div class="product-card__rating rating rating_set">
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items">
                                        <input type="radio" class="rating__item" name="rating" value="1">
                                        <input type="radio" class="rating__item" name="rating" value="2">
                                        <input type="radio" class="rating__item" name="rating" value="3">
                                        <input type="radio" class="rating__item" name="rating" value="4">
                                        <input type="radio" class="rating__item" name="rating" value="5">
                                    </div>
                                </div>
                                <div class="rating__value">3.6</div>
                                <div class="rating__info">12 reviews</div>
                            </div>
                            <div class="product-card__footer">
                                <div class="product-card__price">50 &#8364;</div>
                                <a href="" class="product-card__compare _icon-compare"></a>
                                <a href="" class="product-card__favorite _icon-favorite"></a>
                            </div>
                            <button type="buttton" class="product-card__cart button"><span class="_icon-cart">Add to cart</span></button>
                        </div>
                    </article>
                </div>
                <div class="products-slider__slide">
                    <article class="product-card">
                        <a href="" class="product-card__image">
                            <span class="product-card__item-image-ibg product-card__item-image-ibg_contain">
                                <img src="@img/mainpage/product-card/image.jpg" alt="image">
                            </span>
                         </a>
                        <div class="product-card__body">
                            <h4 class="product-card__title">
                                <a href="" class="product-card__link-title">Knife Lisa</a>
                            </h4>
                            <div class="product-card__info info-product-card">
                                <div class="info-product-card__size">95x18</div>
                                <div class="info-product-card__materials">walnut, aluminum</div>
                            </div>
                            <div class="product-card__rating rating rating_set">
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items">
                                        <input type="radio" class="rating__item" name="rating" value="1">
                                        <input type="radio" class="rating__item" name="rating" value="2">
                                        <input type="radio" class="rating__item" name="rating" value="3">
                                        <input type="radio" class="rating__item" name="rating" value="4">
                                        <input type="radio" class="rating__item" name="rating" value="5">
                                    </div>
                                </div>
                                <div class="rating__value">3.6</div>
                                <div class="rating__info">12 reviews</div>
                            </div>
                            <div class="product-card__footer">
                                <div class="product-card__price">50 &#8364;</div>
                                <a href="" class="product-card__compare _icon-compare"></a>
                                <a href="" class="product-card__favorite _icon-favorite"></a>
                            </div>
                            <button type="buttton" class="product-card__cart button"><span class="_icon-cart">Add to cart</span></button>
                        </div>
                    </article>
                </div>
                <div class="products-slider__slide">
                    <article class="product-card">
                        <a href="" class="product-card__image">
                            <span class="product-card__item-image-ibg product-card__item-image-ibg_contain">
                                <img src="@img/mainpage/product-card/image.jpg" alt="image">
                            </span>
                         </a>
                        <div class="product-card__body">
                            <h4 class="product-card__title">
                                <a href="" class="product-card__link-title">Knife Lisa</a>
                            </h4>
                            <div class="product-card__info info-product-card">
                                <div class="info-product-card__size">95x18</div>
                                <div class="info-product-card__materials">walnut, aluminum</div>
                            </div>
                            <div class="product-card__rating rating rating_set">
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items">
                                        <input type="radio" class="rating__item" name="rating" value="1">
                                        <input type="radio" class="rating__item" name="rating" value="2">
                                        <input type="radio" class="rating__item" name="rating" value="3">
                                        <input type="radio" class="rating__item" name="rating" value="4">
                                        <input type="radio" class="rating__item" name="rating" value="5">
                                    </div>
                                </div>
                                <div class="rating__value">3.6</div>
                                <div class="rating__info">12 reviews</div>
                            </div>
                            <div class="product-card__footer">
                                <div class="product-card__price">50 &#8364;</div>
                                <a href="" class="product-card__compare _icon-compare"></a>
                                <a href="" class="product-card__favorite _icon-favorite"></a>
                            </div>
                            <button type="buttton" class="product-card__cart button"><span class="_icon-cart">Add to cart</span></button>
                        </div>
                    </article>
                </div>
            </div>
            <div class="products-slider__dotts"></div>
        </div>
    </div>
</section>