//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-block;
	background: $mainOrangeColor;
	box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
	border-radius: 3px;
	font-size: rem(20);
	font-weight: 600;
	text-align: center;
	padding: rem(8) rem(52);
	line-height: math.div(32, 20);
	color: #fff;
	transition: box-shadow 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.63);;
		}
	}
}
