// Заголовки, общие БЄМ блоки и проче...

.products-slider {

    // .products-slider__container
    &__container {
    }

    // .products-slider__header
    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
        @media (min-width: $mobile){
            display: flex;
            align-items: center;
            justify-content: space-between;  
            gap: rem(20)
        }
    }

    // .products-slider__title
    &__title {
        letter-spacing: 0.05em;
        font-size: rem(30);
        font-weight: 700;
        line-height: math.div(46 ,30);
    }

    // .products-slider__more
    &__more { 
        color: rgba(20, 20, 20, 0.58);
        transition: color 0.3s ease 0s;
        font-weight: 600;
        font-size: rem(18);
        display: inline-flex;
        align-items: center;
        gap: em(15, 18);
        &::after {
            @extend %ic;
            content: "\e900";
            font-size: em(7, 18);
            transform: rotate(-90deg);
            color: $mainOrangeColor;
        }
        @media (any-hover: hover){
            &:hover {
                color: rgba(20, 20, 20, 1);
            }
        }
    }

    // .products-slider__slider
    &__slider {
        padding: rem(15) rem(20);
        margin: 0px rem(-20);
    }


    // .products-slider__swiper
    &__swiper {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
    }

    // .products-slider__slide
    &__slide {
    }

    // .products-slider__dotts
    &__dotts {
        display: grid;
        grid-auto-flow: column;
        position: relative;
        gap: rem(15);
        justify-content: center;
        transform: translate(0px, 10%);
        margin: 0 auto;
        overflow: hidden;

        .swiper-pagination-bullet {
            margin: 0px rem(7.5);
            cursor: pointer;
            position: relative;
            height: rem(30);
            width: rem(18);
            transition: all 0.3s linear 0s;
            &::after {
                content: "";
                position: absolute;
                height: rem(2);
                width: 100%;
                top: 50%;
                transform: translate(0px, -50%);
                background-color: #898989;
            }
            &::before {
                content: "";
                position: absolute;
                background-color: $mainOrangeColor;
                width: rem(10);
                height: rem(10);
                top: 50%;
                left: 0;
                border-radius: 50%;
                transform: translate(0px, -50%);
                opacity: 0;
            }
        }
        .swiper-pagination-bullet-active {
            width: rem(30);
            &::after {
                background-color: $mainOrangeColor;   
            }
            &::before {
                opacity: 1;
                left: rem(8);
                transition: left 3s linear 0s;
            }
        }
    }
}

.dotts {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    gap: rem(15);
    justify-content: center;
    transform: translate(0px, 10%);
    margin: 0 auto;
    overflow: hidden;

    .swiper-pagination-bullet {
        margin: 0px rem(7.5);
        cursor: pointer;
        position: relative;
        height: rem(30);
        width: rem(18);
        transition: all 0.3s linear 0s;
        &::after {
            content: "";
            position: absolute;
            height: rem(2);
            width: 100%;
            top: 50%;
            transform: translate(0px, -50%);
            background-color: #898989;
        }
        &::before {
            content: "";
            position: absolute;
            background-color: $mainOrangeColor;
            width: rem(10);
            height: rem(10);
            top: 50%;
            left: 0;
            border-radius: 50%;
            transform: translate(0px, -50%);
            opacity: 0;
        }
    }
    .swiper-pagination-bullet-active {
        width: rem(30);
        &::after {
            background-color: $mainOrangeColor;   
        }
        &::before {
            opacity: 1;
            left: rem(8);
            transition: left 3s linear 0s;
        }
    }
}

.product-card {
    display: grid;
    height: 100%;
    background-color: #fff;
    grid-template-rows: auto 1fr;
    transition: box-shadow 0.3s ease 0s;
    box-shadow: 0px 4px 20px rgba(20, 20, 20, 0.1);
    @media (any-hover: hover){
        &:hover {
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
        }
    }


    // .product-card__image
    &__image { 
        @include adaptiveValue("padding-top", 25, 15);
        @include adaptiveValue("padding-bottom", 25, 15); 
        @include adaptiveValue("padding-left", 25, 15);
        @include adaptiveValue("padding-right", 25, 15);   
    }

    // .product-card__item-image
    &__item-image-ibg { 
        display: grid;
        padding-bottom: percent(270, 375);
    }

    // .product-card__body
    &__body {
        padding: rem(20);
        display: flex;
        flex-direction: column;
    }

    // .product-card__title
    &__title {
        flex: 1 1 auto;
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(34, 20);
        &:not(:last-child) {
            margin-bottom: em(15, 20);
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .product-card__link-title
    &__link-title {
    }

    // .product-card__info
    &__info {
       &:not(:last-child) {
           margin-bottom: em(10, 10);
       }
    }

    // .product-card__rating
    &__rating {
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: rem(26);
        }
    }

    // .product-card__footer
    &__footer {
       border-top: 1px solid rgba(20, 20, 20, 0.5); 
       padding: rem(20) 0px;
       display: flex;
       align-items: center;
       gap: rem(15);
    }

    // .product-card__price
    &__price {
        flex: 1 1 auto;
        font-weight: normal;
        font-size: rem(20);
        line-height: math.div(34, 20);
    }

    // .product-card__compare
    // .product-card__favorite
    &__compare,
    &__favorite {
        font-size: rem(24);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $mainOrangeColor;
            }
        }
    }

    // .info-product-card__compare
    &__compare {
    }

    // .info-product-card__favorite
    &__favorite {
        font-size: rem(24);
    }

    // .info-product-card__cart
    &__cart {
        width: 100%;
        span {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            &::before {
                margin: 0px 0px 0px rem(16);
            }
        }
    }
}
.info-product-card {
    color: #ababab;
    display: flex;
    justify-content: space-between;
    gap: rem(10);
    font-size: rem(16);

    // .info-product-card__size
    &__size {
    }

    // .info-product-card__materials
    &__materials {
        text-align: right;
    }
}

.hits-products {
    @include adaptiveValue('padding-top', 50, 40);
    @include adaptiveValue('padding-bottom', 120, 40);
}
//====================================================================

.products-new {
    padding: rem(45) 0px 0px 0px;
    position: relative;
    background: url("@img/new-products/bg.jpg") bottom / cover no-repeat;
    &::before {
        content: "";
        background-color: #fff;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        width: percent(1030, 1920);
    }
    
    // .products-new__inner
    &__inner {
        @include adaptiveValue('padding-top', 55, 20);
        @include adaptiveValue('padding-bottom', 55, 20);
    }
    
    // .products-new__container
    &__container {
        display: grid;
        row-gap: 40px;
        @media (min-width: $tablet){    
            grid-template-columns: rem(400) 1fr;  
            align-items: start; 
        }
    }

    // .products-new__body
    &__body {
        @include adaptiveValue("padding-right", 70, 20, 1630, 992, 2);
    }

    // .products-new__section
    &__section {
        position: relative;
        z-index: 2;
    }

    // .products-new__title
    &__title {
        font-weight: bold;
        font-size: rem(30);
        color: #fff;
        line-height: math.div(46, 30);
        &:not(:last-child) {
            margin-bottom: em(30, 30);
        }
    }

    // .products-new__text
    &__text {
        font-size: rem(18);
        line-height: math.div(27, 18);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 60, 20);
        }
    }

    // .products-new__link
    &__link {
    }

    // .products-new__content
    &__content {
        min-width: 0;
		@media (min-width: $tablet) {
			padding: rem(37) 0px 0px 0px;
		} 
    }

    // .products-new__slider
    &__slider {
        
    }

    // .products-new__swapper
    &__swiper {
        &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 50, 20);
        }
    }

    // .products-new__slide
    &__slide {
    }

    // .products-new__dotts
    &__dotts {
        position: relative;
        z-index: 3;
    }
}

.info-product-card {

    // .info-product-card__size
    &__size {
    }

    // .info-product-card__materials
    &__materials {
    }
}    

.rating {

    // .rating_set
    &_set {
    }

    // .rating__body
    &__body {
    }

    // .rating__active
    &__active {
    }

    // .rating__items
    &__items {
    }

    // .rating__item
    &__item {
    }

    // .rating__value
    &__value {
    }

    // .rating__info
    &__info {
    }
}

//============================================================================
.link-arrow {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: rem(20);
    font-weight: 600;
    color: $mainOrangeColor;
    &::before {
        margin: 0px 0px 0px em(20, 20);
        transform:  rotate(-90deg);
        font-size: rem(8);
    }
    @media (any-hover: hover) {
        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
}