//====================================================================================================
.header {

	// .header__top
	&__top {
	}

	// .header__body
	&__body {
	}

	// .header__catalog
	&__catalog {
	}
}

.top-header {
	padding: rem(10) 0;
	background-color: $maindarkColor;
	color: #fff;

	// .top-header__container
	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
		min-height: rem(50);
		@media (max-width: $tablet) {
			gap: rem(30);
		}
	}

	// .top-header__menu
	&__menu {
		flex: 1 1 auto;
	}

	// .top-header__user
	&__user {
		position: relative;
		z-index: 5;
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		line-height: math.div(22, 18);
		gap: em(15, 28);
		&::before {
			font-size: rem(28);
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}	
			}
		}
		@media (max-width: $tablet) {
			&::before {
				font-size: rem(35);
			}
			span {
				display: none;
			}
		}
	}
}

.menu-top-header {
	// .menu-top-header__list
	&__list {
		display: flex;
		row-gap: 5px;
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 20px;
		}
	}

	// .menu-top-header__item
	&__item {
		&_catalog {
			@media (min-width: $tablet) {
				display: none;
			}	
		}
	}

	// .menu-top-header__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		&_catalog {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			&::before {
				flex: 0 0 14px;
				height: 14px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: rem(8);
				transform: translateY(rem(-2)) rotate(-90deg);
			}
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
		}
	}

	@media (max-width: $tablet) {
		display: none;
	}
}

.menu {
	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: $maindarkColor;
			padding: rem(100) rem(15) rem(50) rem(15);
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 70px;
				left: -100%;
				top: 0;
				background-color: $maindarkColor;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	@media (max-width: $tablet) {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
}

//====================================================================================================

.body-header {
	padding: rem(10) 0;
	background-color: #ecf1f2;

	// .body-header__container
	&__container {
		display: flex;
		min-height: rem(70);
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: space-between;
		}
	}

	// .body-header__logo
	&__logo {
		@extend %ic;
		@extend ._icon-logo;
		font-size: rem(42);
		color: $maindarkColor;
	}

	// .body-header__search
	&__search {
		flex: 1 1 auto;
		@media (min-width: $tablet) {
			padding-right: rem(20);	
		}

		@media (min-width: $mobileSmall) {
			@include adaptiveValue("padding-left", 158, 20, 1620, 1250, 1);
		}
	}

	// .body-header__actions
	&__actions {
	}
	
}

.search-header {
	
	background-color: rgba(7, 7, 7, 0.03);
	border-radius: rem(3);
	position: relative;
	border: 1px solid rgba(4, 4, 4, 0.5);
	@media (min-width: $tablet) {
		max-width: rem(377);		
	}

	// .search-header__button
	&__button {
		position: absolute;
		background-color: transparent;
		height: rem(41);
		width: rem(41);
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: rem(8);
		font-size: rem(14);
		color: rgba(0, 0, 0, 0.5);
	}

	// .search-header__input
	&__input {
		width: 100%;
		background-color: transparent;
		border-radius: rem(3);
		height: rem(41);
		padding: 0px rem(20) 0px rem(50);
		color: $mainColor;
		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
		}
	}

	@media (max-width: $mobileSmall) {
		background-color: #fff;	
	}
}

//====================================================================================================

.actions-header {
	display: flex;
	align-items: center;
	@media (max-width: $tablet) {
		display: none;
	}
	@include adaptiveValue("column-gap", 30, 20, 1620, 1000, 1);

	// .actions-header__location
	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		margin: 0px rem(25) 0px 0px;
		&::before {
			font-size: rem(24);
			margin: 0px em(10, 24) 0px 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
				
			}
		}

	}

	// .actions-header__phones
	&__phones {
	}

	// .actions-header__favorite
	&__favorite {
		position: relative;
		z-index: 5;
		font-size: rem(27);
	}

	// .actions-header__cart
	&__cart {
		flex: 0 0 auto;
	}
}

.phones-header {
	position: relative;
	z-index: 5;

	// .phones-header__items
	&__items {
	}

	// .phones-header__item
	&__item {
		display: flex;
		position: relative;
	}

	// .phones-header__phone
	&__phone {
		font-weight: 600;
		white-space: nowrap;
		line-height: math.div(22, 18);
		&::before {
			@extend %ic;
			@extend ._icon-footer-phone;
			display: none;
		}
		@media (max-width: $tablet) {
			font-size: rem(25);
		}
		@media (max-width: $mobileSmall) {
			&::before {
				display: block;
			}
			span {
				display: none;
				font-size: rem(32);
			}
		}
	}

	// .phones-header__arrow
	&__arrow {
		color: #e8aa31;
		font-size: rem(10);
		transition: transform 0.3s ease 0s;
		margin: 0px 0px 0px em(17, 16);
		&._spoller-active {
			transform: rotate(-180deg);
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	// .phones-header__list
	&__list {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		margin: rem(5) 0px 0px 0px;
		background-color: #fff;
		border-radius: rem(10);
		padding: rem(15);
		z-index: 2;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		li {
			&:not(:last-child) {
				margin-bottom: em(8, 18);
			}
		}
	}

	// .phones-header__callback
	&__callback {
		margin: rem(3) 0px 0px 0px;
		font-weight: 700;
		line-height: math.div(22, 18);
		color: #e8aa31;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
}

.cart-header {
	display: flex;
	align-items: center;
	column-gap: 15px;

	// .cart-header__icon
	&__icon {
		flex: 0 0 37px;
		font-size: rem(37);
		position: relative;
		z-index: 5;
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			right: 0;
			width: rem(14);
			height: rem(14);
			color: #fff;
			background-color: $mainOrangeColor;
			font-size: rem(8);
			border-radius: 50%;
		}
	}

	// .cart-header__body
	&__body {
		font-size: rem(16);
		font-weight: 500;
		flex: 0 0 auto;
		@media (max-width: em(1250)) {
			display: none;
		}
	}

	// .cart-header__summ
	&__summ {
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: em(5, 16);
		}
	}

	// .cart-header__link
	&__link {
		color: $mainOrangeColor;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================

.catalog-header {
	position: relative;
	background-color: $maindarkColor;
	color: #fff;

	// .catalog-header__container
	&__container {
	}

	// .catalog-header__menu
	&__menu {
	}

	@media (max-width: $mobileSmall) {
		padding: rem(20) 0;
	}
}

.menu-catalog {

	// .menu-catalog__list
	&__list {
		display: flex;
		column-gap: 10px;
		justify-content: space-between;
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: rem(25);
		}
	}

	// .menu-catalog__item
	&__item {
	}

	// .menu-catalog__link
	&__link {
		display: flex;		
		position: relative;
		transition: color 0.3s ease 0s;
		&[data-parent] {
			&::before {
				@extend %ic;
				@extend ._icon-arrow-bottom;
				display: none;
				@media (max-width: $tablet) {
					transform: translateY(rem(5)) rotate(-90deg);
					display: block;
					font-size: rem(10);
				}
			}
			@media (max-height: $tablet) {
				display: flex;
				width: 100%;
				flex-direction: row-reverse;
				justify-content: space-between;
			}
		}
		@media (min-width: $tablet) {
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0 rem(10);
			min-height: rem(70);
		}
		&::after {
			content: "";
			position: absolute;
			opacity: 0;
			visibility: hidden;
			bottom: 0;
			left: rem(10);
			height: 1px;
			width: calc(100% - rem(20));
			background-color: $mainOrangeColor;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainOrangeColor;
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (min-width: $tablet) {
			&._sub-menu-active {
				color: $mainOrangeColor;
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
		}
	}

	// .menu-catalog__sub-menu
	&__sub-menu {	
		width: 100%;
		left: 0;
		top: 100%;
		background-color: $maindarkColor; 
		._sub-menu-show & {

		}
	}

	// .menu-catalog__sub-menu
	&__back {
		display: none;
		@media (max-width: $tablet) {
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
			&::before {
				margin: 0px em(13, 30) 0px 0px;
			}
		}
	}

	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $maindarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left 0.3s ease 0s;
		.catalog-open & {
			left: 0;
			z-index: 6;
		}
	}
}

.sub-menu-catalog {

	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $maindarkColor;
		padding: rem(25) rem(15) rem(50) rem(15);
		transition: left 0.3s ease 0s;
		.sub-menu-open & {
			display: block;
			left: 0;
			z-index: 6;
		}
	}

	// .sub-menu-catalog__back
	&__back {
		display: none;
		@media (max-width: $tablet) {
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			&:not(:last-child) {
				margin-bottom: em(65, 30);
			}
			&::before {
				margin: 0px em(13, 30) 0px 0px;
			}
		}
	}

	// .sub-menu-catalog__block
	&__block {
		display: none;
		@for $var from 1 to 6 {
			&_#{$var} {	
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._sub-menu-open {
			display: grid;
			@media (max-width: $tablet) {
				display: block;
			}
		}
	}

	// .sub-menu-catalog__container
	&__container {
		padding: 0px rem(10);
	}

	// .sub-menu-catalog__category
	&__category {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;	
			}
		}
		@media (min-width: $tablet) {
			font-weight: 700;
			padding: rem(30) rem(15) rem(30) 0;	
		}
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: em(25, 16);
			}
		}
	}

	// .sub-menu-category__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: rem(30) rem(15) rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		@media (max-width: $tablet) {
			display: none;
		}
	}

	// .sub-menu-catalog__item
	&__item {}

	// .sub-menu-catalog__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;	
			}
		}
	}

	&__link-category {
		@include adaptiveValue("font-size", 30, 20, 992, 320);
	}

	// .sub-menu-catalog__footer
	&__footer {
		padding: rem(30) rem(15) rem(30) 0;
		@media (max-width: $tablet) {
			display: none;
		}
	}

	// .sub-menu-catalog__all
	&__all {
		font-size: rem(16);
		color: $mainOrangeColor;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;	
			}
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	//display: none;
	//@media (max-width: $mobile) {
		@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 40px;
		height: 22.5px;
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: rgb(255, 255, 255);
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

